<p>product-detail works!</p>

<div>
    <table class="table" style="width: 100%;" >
      <thead>
      <tr>
        <th>Toy picture</th>
        <th>Toy name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Availabillity</th>
      </tr>
      </thead>
      <tbody>
        <tr>
            <th>
                <img style="width: 200px;" src="https://cmsassets.rationalcdn.com/blog/2019/03/second-steps-scrabble.png?fit=inside|800:700" alt={{product.Toy_name}} />
            </th>
            <th>{{product.Toy_name}}</th>
            <th>{{product.Brand}}</th>
            <th>{{product.Price}}</th>
            <th>{{product.Availability}}</th>
        </tr>
    </tbody>
    </table>  
  </div>
<div>
    <h4><b>{{product.Toy_name}}</b></h4>
    <p>Brand: {{product.Brand}}</p>
    <p>Gender: {{product.Gender}}</p>
    <p>Age: {{product.Age}}</p>
    <p>Price: {{product.Price}} </p>
    <p>Shipping Method:</p>
    <p>In Stock: </p> <i>Yes</i>
    <P>Quantity: </P>
    <button ng-click="$location.path('#/product-detail')" type="button" class="btn btn-info">Add to cart</button>
    <br/>
</div>
