<p>product-detail works!</p>

<div>
    <table class="table" style="width: 100%;" >
      <thead>
      <tr>
        <th>Toy picture</th>
        <th>Toy name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Availabillity</th>
      </tr>
      </thead>
      <tbody>
        <tr>
            <th>
                <img style="width: 200px;" src="https://cmsassets.rationalcdn.com/blog/2019/03/second-steps-scrabble.png?fit=inside|800:700" alt={{product.Toy_name}} />
            </th>
            <th>{{product.Toy_name}}</th>
            <th>{{product.Brand}}</th>
            <th>{{product.Price}}</th>
            <th>{{product.Availability}}</th>
        </tr>
    </tbody>
    </table>  
  </div>