
 <!--START NAVBAR-->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h3><a class="navbar-brand" href="./main">❤TOYs&nbsp;</a></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="./toy-product">Products</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--END NAVBAR-->

<div>
    <table class="table" style="width: 100%;" >
      <thead>
      <tr>
        <th>Toy picture</th>
        <th>Toy name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Availabillity</th>
      </tr>
      </thead>
      <tbody>
        <tr>
            <th>
                <img style="width: 200px;" src="https://cmsassets.rationalcdn.com/blog/2019/03/second-steps-scrabble.png?fit=inside|800:700" alt={{product.Toy_name}} />
            </th>
            <th>{{product.Toy_name}}</th>
            <th>{{product.Brand}}</th>
            <th>{{product.Price}}</th>
            <th>{{product.Availability}}</th>
        </tr>
    </tbody>
    </table>  
  </div>
<div>
    <h4><b>{{product.Toy_name}}</b></h4>
    <p>Brand: {{product.Brand}}</p>
    <p>Gender: {{product.Gender}}</p>
    <p>Age: {{product.Age}}</p>
    <p>Price: {{product.Price}} </p>
    <p>Shipping Method:</p>
    <p>In Stock: </p> <i>Yes</i>
    <P>Quantity: </P>
    <button ng-click="$location.path('#/product-detail')" type="button" class="btn btn-info">Add to cart</button>
    <br/>
</div>
