<p>toy-product works!</p>

<!DOCTYPE html>
<html>
<body>
<h1>Search Toy</h1>


<form action="/action_page.php">
  <label id="age" for="age">Select age </label>
  <select name="age" id="age">
    <option id="bady" value="baby">baby</option>
    <option id="toddler" value="toddler">toddler</option>
    <option id="3to5" value="3to5">3_to_5</option>
    <option id="6to8" value="6to8">6_to_8</option>
    <option id="over_8" value="over8">over8</option>
  </select>
  <label id="gender"  for="gender">Select gender </label>
  <select name="gender" id="gender">
    <option value="Female">Female</option>
    <option value="Male">Male</option>
    <option value="Neutral">Neutral</option>
  </select>
 <br>
 <input type="submit" value="Search">
</form>
<p>x toys found</p>
<div>
  <table class="table" >
    <thead>
    <tr>
      <th>Toy name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Availabillity</th>
    </tr>
    </thead>
  </table>  
</div>
</body>
</html>