 <!--START NAVBAR-->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h3><a class="navbar-brand" href="./main">❤TOYs&nbsp;</a></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="./toy-product">Products</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--END NAVBAR-->

<div>
    <table class="table" style="width: 100%;" >
      <thead>
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Brand</th>
        <th>Price(THB)</th>
        <th>Availability</th>
        <th>Quantity</th>
      </tr>
      </thead>
      <tbody *ngIf="products.length > 0">
        <tr *ngFor="let product of products">
          <th>
            <img style="width: 200px;" src="https://cmsassets.rationalcdn.com/blog/2019/03/second-steps-scrabble.png?fit=inside|800:700" alt={{product.Toy_name}} />
          </th>
          <th>{{product.Toy_name | uppercase}}</th>
          <th>{{product.Gender}}</th>
          <th>{{product.Brand}}</th>
          <th>{{product.Price*31.5}}</th>
          <th>{{product.Availability}}</th>
          <th><button type="button" (click)="minus()">-</button>
               {{product.Quantity}}<button type="button"(click)="plus()">+</button></th>

            
          <th> <a (click)="remove(product)" routerLink="./">Remove</a></th>

        </tr>
      </tbody>
    </table>  
  </div>
  <div>
    <a> <h3>Shipping Mathod : </h3></a>
    <div class="Shipping">
      <div class="custom-control custom-radio">
        <input id="kerry" name="paymentMethod" (click)="priceKerry()" type="radio" class="custom-control-input" required>
        <label class="custom-control-label" for="kerry">Kerry</label>
      </div>
      <div class="custom-control custom-radio">
        <input id="lineman" name="paymentMethod" (click)="priceLineman()" type="radio" class="custom-control-input" >
        <label class="custom-control-label" for="lineman">Line Man</label>
      </div>
      <div class="custom-control custom-radio">
        <input id="EMS" name="paymentMethod" (click)="priceEms()" type="radio" class="custom-control-input" >
        <label class="custom-control-label" for="EMS">EMS</label>
      </div>
    </div>
    <a> Shipping Fee : {{shipping_fee}}</a>
  </div>

    <div class="col-md-3 ml-md-auto">
    <h2>Subtotal (__ item) : {{product.Price*31.5}}</h2>
    <br/>
    <a>Shipping fee : {{shipping_fee}} </a>
  <br/>
  <br/>
  <button id="btn_checkout" href="./address" [routerLink]="['/address']" type="button" class="btn btn-info">Process to checkout</button>
 </div>