<!DOCTYPE html>
<html>
  <style>
    #myIMG {
      vertical-align: 50px;
      animation: mymove 5s infinite;
    }

    @keyframes mymove {
      50% {
        vertical-align: 100px;
      }
    }
  </style>
  <h1 style="text-align: center; font-family: Trebuchet MS;">
    <img id="myIMG" src="thank-you.png" width="50" height="50" />
    your order number is xxx <br />
  </h1>

  <p style="text-align: center; font-family: Trebuchet MS;">
    <strong> Product summary </strong><br />
    product name : xxx <br />
    gender : xxx <br />
    age : xxx <br />
  </p>

  <h2 style="text-align: center; font-family: Trebuchet MS;">
    thank you for purchasing <br />
  </h2>
</html>
